$theme-config: (
  default: (
    class: 'default',
    GradientBg: $defaultGradient,
    loginCard: $defaultGradient,
    mainBg: $defaultGradientBg,
    mainImg: url('@/assets/default_indexBg.jpg') no-repeat bottom center,
    theadColor: $defaultTheadColor,
    tbodyColor: $defaultTbodyColor,
    messageColor: $defaultLight,
    scrollbarColor: $defaultPrimary,
    //////////////////////////////
    primary: $defaultPrimary,
    light: $defaultLight,
    secondary: $defaultSecondary,
    third: $defaultThird,
  ),
  green: (
    class: 'green',
    GradientBg: $greenGradient,
    loginCard: $greenGradient,
    mainBg: $greenGradientBg,
    mainImg: url('@/assets/green_indexBg.jpg') no-repeat bottom center,
    theadColor: $greenTheadColor,
    tbodyColor: $greenTbodyColor,
    messageColor: $greenLight,
    scrollbarColor: $greenSecondary,
    //////////////////////////////
    primary: $greenPrimary,
    light: $greenLight,
    secondary: $greenSecondary,
    third: $greenThird,
  ),
  blue: (
    class: 'blue',
    GradientBg: $blueGradient,
    loginCard: $blueGradient,
    mainBg: $blueGradientBg,
    mainImg: url('@/assets/blue_indexBg.jpg') no-repeat bottom center,
    theadColor: $blueTheadColor,
    tbodyColor: $blueTbodyColor,
    messageColor: $blueLight,
    scrollbarColor: $blueSecondary,
    //////////////////////////////
    primary: $bluePrimary,
    light: $blueLight,
    secondary: $blueSecondary,
    third: $blueThird,
  ),

  red: (
    class: 'red',
    GradientBg: $redGradient,
    loginCard: linear-gradient(to bottom, #bf4571 0%, #8e2a4d 100%),
    mainBg: $redGradientBg,
    mainImg: url('@/assets/red_indexBg.jpg') no-repeat bottom center,
    theadColor: $redTheadColor,
    tbodyColor: $redTbodyColor,
    messageColor: $redLight,
    scrollbarColor: $redSecondary,
    //////////////////////////////
    primary: $redPrimary,
    light: $redLight,
    secondary: $redSecondary,
    third: $redThird,
  ),
  dark: (
    class: 'dark',
    GradientBg: linear-gradient(to bottom, #c1c1c1 0%, #808080 100%),
    loginCard: rgb(35, 35, 35),
    mainImg: #000,
    mainBg: #000,
    iconColor: #8c8c8c,
    theadColor: $defaultTheadColor,
    tbodyColor: rgb(50, 50, 50),
    infoColor: $defaultLight,
    messageColor: $defaultLight,
    scrollbarColor: #8c8c8c,
  ),
);

@each $name, $value in $theme-config {
  $class: map-get($value, class);
  $GradientBg: map-get($value, GradientBg);
  $mainBg: map-get($value, mainBg);
  $mainImg: map-get($value, mainImg);
  $loginCard: map-get($value, loginCard);
  $messageColor: map-get($value, messageColor);
  $theadColor: map-get($value, theadColor);
  $tbodyColor: map-get($value, tbodyColor);
  $primary: map-get($value, primary);
  $light: map-get($value, light);
  $secondary: map-get($value, secondary);
  $third: map-get($value, third);
  $scrollbarColor: map-get($value, scrollbarColor);
  .v-theme--#{$class} {
    .content {
      background: $mainBg;
      &.mpImg {
        background: $mainImg;
      }
    }
    .navDrawer {
      > .v-navigation-drawer__content {
        .v-list-item {
          &:hover,
          &.active {
            background: $GradientBg;
            color: #fff;
            img {
              filter: invert(1);
            }
          }
          .v-list-item__overlay {
            background: $secondary;
          }
        }
        .v-list-group {
          > .v-list-item {
            &.v-list-item--active {
              background: $GradientBg;
              color: #fff;
              img {
                filter: invert(1);
              }
            }
          }
        }
      }
      .text-navText {
        &::-webkit-scrollbar-thumb {
          background: lighten($scrollbarColor, 50);
        }
      }
    }

    .userInfo {
      background: $GradientBg;
      &:hover {
        button {
          background: #fff;
          transition: 0.5s all;
          span {
            color: $secondary;
          }
        }
      }
    }
    .navDrawer.hidden {
      .userInfo {
        background: unset;
        button {
          background-color: unset;
          span {
            color: $secondary;
          }
        }
      }
    }
    .navTitle {
      .userLoginCard {
        .card {
          background: $loginCard;
        }
        .userLoginCardBtn {
          background-color: $defaultBg;

          .material-icons-round {
            color: $third;
            background-color: $defaultBg;
          }
          span {
            color: $primary;
          }
        }
      }
    }
    .fontBtnContainer {
      button {
        background: $GradientBg;
        color: #fff;
      }
    }
    .infoBtnContainer {
      ul {
        &::-webkit-scrollbar-thumb {
          background: lighten($scrollbarColor, 30);
        }
      }
      li {
        div {
          &::before {
            background: $messageColor;
          }
        }
      }
    }
    .page {
      .searchGrp {
        .searchMoreBtn {
          background: $GradientBg;
        }
      }
      .filterList {
        .formContent {
          .item {
            border-right: 1px solid $third;
          }
          .functionBtnGrp > span {
            border-right: 1px solid $third;
          }
        }
      }
      .pageContent {
        &::-webkit-scrollbar-thumb {
          background: lighten($scrollbarColor, 30);
        }
      }
    }
    .mpPage {
      .pageContent {
        .title {
          span.icon {
            background: $primary;
            &::before,
            &::after {
              background: $light;
            }
          }
        }
      }
      .linkSection {
        .linkBtn {
          background: $GradientBg;

          color: #fff;
        }
      }
      .newsSection {
        .newCard {
          &::before,
          &::after {
            background-color: $primary;
            border: 5px solid $light;
          }
        }
      }
    }
    //table style
    .v-table {
      .v-table__wrapper {
        > table {
          > thead {
            background: $theadColor;
            > tr > th {
              color: #fff;
              font-size: rem(16);
            }
          }
          tbody {
            tr {
              &:not(:last-child) {
                td {
                  border-bottom: unset;
                }
              }
            }
          }
        }
      }
    }
    tbody {
      tr {
        &:nth-child(even) {
          background-color: $tbodyColor;
        }
        &:not(:last-child) {
          td {
            border-bottom: unset;
          }
        }
      }
    }
    .v-data-table {
      .v-table__wrapper {
        > table {
          > thead > tr th {
            background: $theadColor;
          }
          tbody {
            tr {
              &:nth-child(even) {
                td {
                  background-color: $tbodyColor;
                }
              }
              &:not(:last-child) {
                td {
                  border-bottom: unset;
                }
              }
            }
          }
        }
      }
    }
    .v-tabs {
      .v-btn__content {
        color: $primary;
      }
      .v-tab__slider {
        color: $light;
      }
    }

    //v-dialog Btn style
    &.v-dialog {
      .v-card-actions {
        .v-btn {
          margin: 1rem;
          @include screen('tablet') {
            min-width: 78px;
          }
          &.submit {
            background: $GradientBg !important;
          }
          &.cancel {
            background: linear-gradient(to bottom, #6a6a6a 0%, #9a9a9a 100%) !important;
          }
        }
      }
    }
  }
}
//btn

///dark Style-------
.v-theme--dark {
  .navDrawer {
    .drawerBtn {
      background-color: rgb(35 35 35);
      span {
        color: #fff;
      }
    }
    .v-navigation-drawer__content {
      .v-list-group {
        > .v-list-item {
          &:hover,
          &.v-list-item--active {
            background: #ccc;
            color: #000;
            img {
              filter: unset;
            }
          }
        }
      }
      .logoImg {
        .logo {
          + img {
            filter: invert(1);
          }
        }
      }
    }
    &.hidden .userInfo {
      button {
        span {
          color: #fff;
        }
      }
      &:hover {
        button {
          span {
            color: #fff;
          }
        }
      }
    }
    .userInfo {
      ul > li {
        color: #000;
      }
      button {
        span {
          color: #000;
        }
      }
      &:hover {
        button {
          span {
            color: #000;
          }
        }
      }
    }
    &.v-theme--dark {
      background: rgb(35 35 35);
      .v-list-item__content {
        img {
          filter: invert(1);
        }
      }
    }
    .text-navText {
      &::-webkit-scrollbar-track {
        background: unset;
      }
    }
  }
  .navTitle {
    .userLoginCard {
      .userLoginCardBtn {
        background: rgb(70, 70, 70);
        .material-icons-round {
          background: rgb(70, 70, 70);
        }
      }
    }
  }
  .v-text-field {
    .v-field {
      background: rgba(255, 255, 255, 10%);
    }
  }
  .fontBtnContainer,
  .colorBtnContainer {
    button {
      border-color: rgb(80, 80, 80);
      background: linear-gradient(to bottom, #939393 0%, #505050 100%);
      color: #fff;
    }
  }
  .formGrp {
    label {
      color: #fff;
    }
  }
  .filterList {
    .selectItem {
      .v-field__field {
        .v-field__input input {
          &::placeholder {
            color: #fff;
            opacity: 1;
          }
        }
      }
    }
    .iconImg {
      filter: contrast(0);
    }
  }
  .functionList {
    .icon,
    button {
      background: rgb(35, 35, 35);
      color: #fff;
      &:after {
        background: rgb(35, 35, 35);
      }
    }
  }
  button.navBtn {
    .icon {
      background: rgb(35, 35, 35);
      color: #fff;
    }
    &:after {
      background: rgb(35, 35, 35);
    }
  }
  .webSearch .v-field__append-inner .v-icon {
    color: #fff;
  }
  .page {
    .searchGrp {
      .btnList {
        button {
          background: linear-gradient(to bottom, #6a6a6a 0%, #9a9a9a 100%);
          .v-btn__content {
            color: #fff;
          }
        }
        .searchMoreBtn {
          background: $defaultGradient;
        }
      }
      .searchList {
        .v-expansion-panel {
          background: rgba(255, 255, 255, 10%);
        }
      }
    }
    .closeSearchMoreBtn {
      background-color: #7e7e7e !important;
    }
  }
  .infoBtnContainer {
    li {
      div {
        color: #fff;
      }
    }
  }
  .mpPage {
    .pageContent {
      .title {
        color: #fff;
        span.icon {
          background: #ccc;
          &::before {
            background: #fc590f;
          }
          &::after {
            background: #fc590f;
          }
        }
      }
      .systemSection,
      .caseSection,
      .applySection {
        .cardList {
          .v-card {
            h4 {
              color: #fff;
            }
            span {
              color: #fff;
            }
            .num {
              color: $defaultLight;
            }
          }
        }
      }
      .newsSection {
        .newCard {
          h4 {
            color: #fff;
          }
          .info {
            color: #ccc;
          }
          &::before {
            background: #6a6a6a;
            border: 5px solid $defaultLight;
          }
          &::after {
            background: #6a6a6a;
            border: 5px solid $defaultLight;
          }
        }
      }
    }
    .v-card {
      background-color: rgba(255, 255, 255, 10%);
    }
    .footer {
      .v-col {
        background: rgb(40, 40, 40);
      }
    }
    .commonToolSection {
      .v-list {
        .v-list-item {
          p {
            color: #9a9a9a;
          }
        }
      }
    }
    .languageSection {
      .v-list-item-title {
        color: #fff;
      }
      .v-list-item-subtitle {
        color: #ccc;
      }
      .btnList {
        .v-chip {
          background: #df419d;
          color: #fff;
        }
      }
    }
  }
  &.systemSectionTooltip.v-tooltip {
    > .v-overlay__content {
      background-color: rgba(100, 100, 100, 0.6);
      .v-card {
        h4 {
          color: #fff;
        }
      }
    }
  }
  &.dialogCard {
    .v-card {
      .formGrp {
        label {
          color: #fff;
        }
        .v-field,
        .v-field__field {
          background: rgb(40, 40, 40);
        }
      }
      .infoGrp {
        span {
          color: #fff;
        }
      }
    }
    .v-card-actions {
      .v-btn {
        &.submit {
          background: $defaultGradient !important;
          .v-btn__content {
            color: #fff;
          }
        }
      }
    }
  }
  &.peopleFinderCard {
    .v-card-actions {
      .v-btn.submit {
        background: $defaultGradient !important;
        .v-btn__content {
          color: #fff;
        }
      }
    }
  }
}
