@mixin cardHover {
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition: all 0.5s;
  &:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
}

.albumCard {
  height: 100%;
  &.v-card {
    @include cardHover;
  }
  .cardContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .v-img {
    margin: 0.75rem;
    margin-bottom: 0;
    border-radius: rem(8);
    height: rem(200);
    max-height: rem(200);
  }
  .v-card-item {
    display: flex;
    align-items: flex-start;
  }
  .info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  .v-card-item__content {
    .v-card-subtitle {
      font-weight: 700;
      font-size: em(14);
    }
    p {
      font-size: em(14);
    }
  }
  .v-card-text {
    align-items: self-end;
    display: flex;
  }

  .iconList {
    color: $grayText;
    font-weight: 700;
    .v-col {
      display: flex;
      align-items: center;
    }
    i {
      color: $grayText;
      font-size: 1rem;
      margin-right: 0.5rem;
    }
  }
}
.albumCardList {
  &.list {
    display: block;
    > div {
      max-width: unset;
      border-bottom: 1px solid lighten($secondaryColor, 30);
      // padding: 1.25rem 0;
      &:last-child {
        border: none;
      }
    }
    .cardContainer {
      flex-direction: row;
      background-color: unset;
    }
    @include screen('tablet') {
      .cardContainer {
        display: block;
      }
      .albumCard {
        .cardContainer {
          .v-img {
            margin: 0 0 1rem 0;
            width: 100%;
            max-width: inherit;
            aspect-ratio: 4 / 3;
            height: auto;
            max-height: unset;
          }
        }
      }
      .v-card-item {
        padding: 0 0 1rem 0;
      }
    }
    .v-img {
      max-width: rem(200);
      height: 150px;
      width: rem(200);
    }
    .v-card {
      display: block;
      box-shadow: unset;
      background: unset;
      padding: 0.75rem;
    }
    .albumCard {
      .v-img {
        margin: 0 0.5rem 0 0;
      }
      .v-card-item {
        padding-top: 0;
      }
      .iconList {
        justify-content: end;
        .v-col {
          flex-grow: unset;
        }
      }
    }
    .v-card-text {
      padding-bottom: 0;
    }
  }
}
.photoCard {
  &.v-card {
    @include cardHover;
  }
  position: relative;
  .checkbox {
    z-index: 1;
    position: absolute;
  }
  .img {
    position: relative;
    margin: 0.5rem;
    label {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
    .v-selection-control__wrapper {
      top: -0.5rem;
    }
  }
  &.v-card {
    .v-card-title {
      line-height: 1rem;
    }
  }
  .v-card-title {
    cursor: pointer;
    font-size: em(14);
  }
  .info {
    .v-card-item {
      padding: 0;
      margin: 0.5rem;
    }
  }
  .info[aria-haspopup='dialog'] {
    &:hover {
      .v-card-title {
        color: $secondaryColor;
      }
    }
  }
}
.dialogCard {
  .formContainer {
    margin-top: 0;
  }

  .v-card {
    .v-card-title {
      .v-container {
        padding-bottom: 0;
      }
    }
    .v-card-text {
      padding-top: 0.25rem;
      .v-container {
        padding-top: 0;
      }
    }
    .infoTitle {
      padding-right: 1.25rem;
      color: $defaultPrimary;
      font-weight: 500;
      margin-left: -0.5rem;
      display: flex;
      justify-content: flex-end;
      color: $dark;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        left: 0;
        left: 12px;
        background-color: $secondaryColor;
        height: 2px;
        bottom: -2px;
        width: calc(100% - 24px);
      }
      @include screen('notebook') {
        width: 100%;
        max-width: unset;
        flex-basis: auto;
        padding-left: 1.25rem;
        justify-content: flex-start;
        padding-bottom: 0;
        &::after {
          display: none;
        }
      }
    }
    .infoText {
      margin: 0 0.75rem;
      @include screen('tablet') {
        margin: 0;
      }
    }

    .infoGrp,
    .formGrp {
      @include screen('tablet') {
        flex-wrap: wrap;
      }
      label,
      .infoTitle > span {
        color: $dark;
        margin-right: 0;
        @include screen('tablet') {
          text-align: left;
          margin: 0;
        }
      }

      border-bottom: 2px solid $gray;
      position: relative;
      margin-bottom: 0.25rem;
      margin-top: 0.2rem;

      &:last-child {
        margin-bottom: 0;
      }

      @include screen('tablet') {
        &:after {
          display: none;
        }
      }

      .formGrp {
        padding-bottom: 0;
        border-bottom: 0;
        padding: 0;
        &:after {
          display: none;
        }
      }
      .v-field__field,
      .v-field {
        box-shadow: none;
        background: $gray;
        border-radius: 0.5rem;
      }
      .v-input {
        border-radius: 0.5rem;
        &.v-radio-group {
          background: unset;
          .v-input__control {
            border: none;
          }
        }
        .v-input__control {
          margin-top: 0.25rem;
          border: 1px solid lighten($gray3, 20);
          border-radius: 0.5rem;
        }
        // .v-messages {
        //   min-height: unset;
        // }
      }
      .checkGrp {
        .v-input__control {
          border: none;
        }
      }
    }
    .formGrp_2 {
      margin-top: 1rem;
      &::after {
        display: none;
      }
    }
  }
}
.peopleFinderCard {
  .multipleContent {
    select {
      border: 1px solid lighten($gray3, 20);
      option {
        height: rem(43);
        display: flex;
        align-items: center;

        &:hover,
        &:active,
        &:target,
        &:focus,
        &:checked {
          background: $gray;
          color: $defaultPrimary;
        }
      }
    }
  }
  .btnList {
    &.btnListWidth {
      max-width: rem(120);
    }
    i {
      font-size: 1.75rem;
    }
  }
  option:checked {
    box-shadow: 0 0 10px 100px $gray inset;
    color: $defaultPrimary;
  }
}

.mpPage {
  .v-card {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    padding: 1em 3rem;
  }
  .v-list {
    background: unset;
    a {
      color: $aLinkColor;
      font-weight: 600;
      &:hover {
        color: $thirdColor;
      }
    }
  }
  .linkCard {
    padding: 0em 3rem;
  }
}
.commonToolCard {
  &.v-card {
    padding: 0em 3em;
    border-radius: rem(40) !important;
  }
  .title {
    white-space: nowrap;
  }
  display: flex;
  align-items: center;
  .v-list {
    background: unset;
    margin-left: 1rem;
    .v-list-item {
      min-height: auto;
      padding-inline-start: 0.25rem !important;
    }
  }
}
.linkCard {
  display: flex;
  align-items: center;
  &.v-card {
    border-radius: rem(16) !important;
  }

  .v-list {
    margin-left: 1.5rem;
    .v-list-item {
      min-height: auto;
      padding-inline-end: 0.25rem !important;
      padding-inline-start: 0.25rem !important;
    }
  }
  .linkBtn {
    margin: 0.5rem 0.25rem 0.5rem 0.25rem;
    height: 2.75rem !important;

    .v-btn__content {
      font-weight: 700;
    }
  }
}
