.formGrp {
  label {
    color: $defaultPrimary;
    font-weight: 500;
    margin: 0 0.5rem;
  }
  input,
  select {
    padding: 0 0.25rem;
  }
  .v-field__input {
    height: rem(44);
    input {
      padding-bottom: 0.25rem;
    }
  }
}
input:-internal-autofill-selected {
  background: #fff !important;
}

.formContainer {
  margin-bottom: 1rem;
  // max-width: unset !important;
  margin-top: 1rem;
  .formTitle {
    max-width: 200px;
    flex: 0 0 200px;
  }
  label {
    abbr {
      color: $defaultLight;
      text-decoration: none;
    }
  }
  .checkGrp {
    display: flex;
    flex-wrap: wrap;
    .v-input {
      display: contents;
    }
    @include screen('tablet') {
      display: block;
    }
  }
  .formGrp {
    .v-row {
      margin-top: -13px;
      margin-bottom: -13px;
      .v-col {
        .formGrp {
          margin-bottom: 0;
        }
      }
    }

    .tilde {
      margin: 0.5rem;
    }
    .formGrpTitle {
      display: flex;
      justify-content: center;
      font-weight: 700;
      padding: 0.75rem 0.5rem;
      margin-top: 0.5rem;
      @include screen('tablet') {
      }
    }
    &:has(.v-input .v-input__details) {
      margin-bottom: 0rem;
    }
    .v-checkbox-btn {
      label {
        max-width: calc(100% - 2rem);
        flex-basis: fit-content;
      }
    }

    @include screen('tablet') {
      flex-wrap: wrap;
      .formTitle {
        width: 100%;
        max-width: unset;
        flex-basis: auto;
        margin-bottom: -0.75rem;
      }
    }
  }
  .formGrp.formGrp_2 {
    margin-top: 2rem;
  }
}
