.formGrp {
  label {
    color: $defaultPrimary;
    font-weight: 500;
    margin: 0 0.5rem;
  }
  margin: 0;
  input,
  select {
    padding: 0 0.25rem;
  }
  &.v-row {
    > div {
      padding: 0.5rem;
      .v-row {
        > div {
          padding: 0.5rem;
        }
      }
    }
  }
  // .v-field__input {
  //   height: rem(44);
  //   padding: 0.5rem;
  //   position: relative;
  //   input {
  //     height: auto;
  //   }
  // }
  // .v-field--error {
  //   border: 1px solid red;
  // }
  // .v-input__details {
  //   min-height: unset;
  // }
  // .v-input {
  //   position: relative;
  // }
  // .v-messages {
  //   position: absolute;
  //   bottom: -12px;
  // }
}
.infoGrp {
  span {
    font-weight: 500;
    margin: 0 0.5rem;
    color: $defaultPrimary;
  }
}
input:-internal-autofill-selected {
  background: #fff !important;
}

.formContainer {
  margin-bottom: 1rem;
  margin-top: 1rem;
  .formTitle {
    max-width: 200px;
    flex: 0 0 200px;
  }
  label {
    abbr {
      color: $defaultLight;
      text-decoration: none;
    }
  }
  .checkGrp {
    display: flex;
    flex-wrap: wrap;
    .v-input {
      display: contents;
    }
    @include screen('tablet') {
      display: block;
    }
  }
  .formGrp {
    .v-row {
      margin-top: -13px;
      margin-bottom: -13px;
      .v-col {
        .formGrp {
          margin-bottom: 0;
        }
      }
    }

    .tilde {
      margin: 0.5rem;
    }
    .formGrpTitle {
      display: flex;
      justify-content: center;
      font-weight: 700;
      padding: 0.75rem 0.5rem;
      margin-top: 0.5rem;
      @include screen('tablet') {
      }
    }
    &:has(.v-input .v-input__details) {
      margin-bottom: 0rem;
    }
    .v-checkbox-btn {
      label {
        max-width: calc(100% - 2rem);
        flex-basis: fit-content;
      }
    }
    .info {
      margin-bottom: rem(20);
    }
    @include screen('tablet') {
      flex-wrap: wrap;
      .formTitle {
        width: 100%;
        max-width: unset;
        flex-basis: auto;
        margin-bottom: -0.75rem;
      }
    }
  }
  .formGrp.v-row.formGrp_2 {
    margin-top: 2rem;
  }
  .formGrp.v-row {
    margin-top: 0.25rem;
  }
}
.textEdit {
  .fr-box.fr-basic {
    border-radius: 4px;
    box-shadow: 0px 3px 1px -2px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)), 0px 2px 2px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)), 0px 1px 5px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12));
    .fr-toolbar,
    .fr-wrapper,
    .fr-second-toolbar {
      border: unset;
    }
  }
}
.hyUpload {
  &.upload-area {
    border: none;
    border-radius: 4px;
    box-shadow: 0px 3px 1px -2px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)), 0px 2px 2px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)), 0px 1px 5px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12));
  }
  thead {
    color: #fff;
    border-radius: 4px 4px 0 0;
    th {
      padding: 0.5rem;
    }
  }
  p {
    padding: 1rem;
    .v-btn {
      background: #91746c;
      .v-btn__content {
        color: #fff;
        opacity: 1;
      }
    }
  }
  .v-btn--variant-tonal {
    .v-btn__underlay {
      background: unset;
    }
  }
  .textInfo {
    font-size: 0.9rem;
    line-height: 1rem;
    padding: 0rem 1rem 0.5rem 1rem;
    color: mix(#fff, $defaultPrimary, 20%);
    span {
      display: block;
      margin-bottom: 0.5rem;
    }
  }
}
